{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[cider/cider-nrepl "0.28.5"]
  [lilactown/helix "0.1.8"]
  [funcool/promesa "8.0.446"]]

 :dev-http {8080 "public"}

 :builds
 {:app {:target :browser
        :compiler-options {:output-feature-set :es6}
        ;;:build-hooks [(debug/find-it)]
        :output-dir "public/js"
        :asset-path "/js"
        :modules {:main {:init-fn helix.app/init}}}}}
