* {
             --textsize: 16px;
             --textcolor: #101010;
             --bgcolor: #f0f0f0;
             --max-width: 650px;
}

body { max-width: var(--max-width);
       margin:40px auto;
       padding:0 10px;
       font: var(--textsize)/1.35 system-ui, sans-serif;
       color: var(--textcolor);
       background: var(--bgcolor);
}
h1,h2,h3 {line-height:1.2}

h3 {
    color: gray;
}
.avatar {
    border-radius: 50%;
}
table {
  text-align: justify;
  width: 40%;
  border-collapse: collapse;
}

td, th {
  padding: 0.2em;
}

th {
  border-bottom: 0.5px solid gray;
}

th[colspan="2"] {
    text-align: center;
}

.card {
    width: fit-content;
    margin: 5px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 20px;
}

ul {
    width: 80%;
    list-style: square outside none;
    padding-left: 0;
}

li {
    display: flex;
}

label, input {
    display: inline-block;
    margin-right: 5px;
}
label {
    min-width: 80px;
}

button {
    margin: 5px;
    margin-left: 0;
}

img {
    margin: 3px;
    padding: 3px;
}

label  span, input[type="text"] {
    float: left;
    width: 300px;
    word-wrap: break-word;
}

video {
    max-width: var(--max-width);
    border-radius: 5px;
    margin: 5px 0;
}

.container {
    height: 220px;
    overflow-y: scroll;
}

.active {
    border: 5px solid lightcyan;
    margin-left: 0;
}
.race {
    border: 1px solid  lightgray;
    padding: 20px;
    margin: 20px 0;
    background: #f4f4f4;
}
